@import '../../style/variables';

.board {
  width: $board-size + px;
  outline: solid 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: $board-size + px;
}

.square {
  width: $square-size + px;
  height: $square-size + px;
}

$square-background-image: url("../../assets/images/wood-pattern.png");

.background-light {
  background-color: #c49300;
  background-image: $square-background-image;
}

.background-dark {
  background-color: black;
}